.HeaderHistoria {
  background-color: beige;
  color: #000000;
  text-align: center;
  padding: 20px;
}

.TitulosHistoriaH1 {
  font-size: 2em;
  margin: 0;
}

.TitulosHistoriaH2 {
  text-align: center;
}

.PHisoria {
  margin: 10px 0;
}

.MainHistoria {
  padding: 20px;
}

.nosotros {
  background: beige;
  border: 1px solid #ccc;
  padding: 20px;
}

.productos {
  background: beige;
  border: 1px solid #ccc;
  padding: 20px;
}

.productos ul {
  list-style: none;
  padding: 0;
}

.productos ul li {
  padding: 5px;
}

.contacto {
  border: 1px solid #ccc;
  padding: 20px;
}
