.col {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.card {
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: solid 1vh rgb(159, 162, 174);
}
.cardta {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh;
}
